/* CSS HEX */

:root {
    --red: #ff595eff;
    --yellow: #ffca3aff;
    --green: #8ac926ff;
    --blue: #1982c4ff;
    --purple: #6a4c93ff;

    --red: #ff0000ff;
    --ut-orange: #ff8700ff;
    --gold: #ffd300ff;
    --chartreuse: #deff0aff;
    --spring-bud: #a1ff0aff;
    --spring-green: #0aff99ff;
    --electric-blue: #0aefffff;
    --azure: #147df5ff;
    --electric-indigo: #580affff;
    --electric-purple: #be0affff;
}

* {
    box-sizing: border-box;
}

body {
    /* margin: 0; */
}

.menu {
    display: flex;
    /* margin: 8px 0; */
    border:1px solid black;
}

.menu div.selected {
    /* font-weight: bold; */
    display: none;
}

.panels-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.panel {
    width: 321px;
}

.dash-title {
    margin: 0;
    text-transform: capitalize;
}

.dashboard-list:not(.selected) {
    display: none;
}

.dash-list-menu {
    display: flex;
}

.add-button {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .panel-3 {
        display: none;
    }
}

@media screen and (max-width: 675px) {
    .panel-2 {
        display: none;
    }
}

.task-list-item {
    display: flex;
}

.col {
    border: 1px solid black;
}

.info-col {
    flex: 3;
}

.info-col .task-title {
    text-transform: capitalize;
}

.days-col {
    flex: 2;
}

.done-col {
    flex: 1;
}

