/* CSS HEX */

:root {
    --red: #ff595eff;
    --yellow: #ffca3aff;
    --green: #8ac926ff;
    --blue: #1982c4ff;
    --purple: #6a4c93ff;

    --red: #ff0000ff;
    --ut-orange: #ff8700ff;
    --gold: #ffd300ff;
    --chartreuse: #deff0aff;
    --spring-bud: #a1ff0aff;
    --spring-green: #0aff99ff;
    --electric-blue: #0aefffff;
    --azure: #147df5ff;
    --electric-indigo: #580affff;
    --electric-purple: #be0affff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.panels-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.panel {
    width: 321px;
    /* border: 1px solid black; */
}

.dashboard-list {
    /* border: 1px solid grey; */
}

.dashboard-list:not(.selected) {
    display: none;
}

.add-button {
    
}

@media screen and (max-width: 1000px) {
    .panel-3 {
        display: none;
    }
}

@media screen and (max-width: 675px) {
    .panel-2 {
        display: none;
    }
}

.task-list-item {
    display: flex;
    justify-content: space-between;
}

.task-list-item .days {
    font-size: 32px;
}