:root {}

* {
    box-sizing: border-box;
    font-family: 'Noto sans';
    font-size: 1rem;
    line-height: 1.5rem;
}

html,
body 
{
    margin: 0;
}

/* ----------------  Alert ----------------  */

.overlay {
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.25s;
}

.alert {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes spin { 
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 4px solid black;
    animation: spin 1s linear infinite;
    margin-bottom: 16px;
    margin: 0 auto 16px auto;
}

.error {
    padding: 3rem;
}

/* ----------------  Select, Date  ----------------  */

.select {
    position: relative;
    cursor: pointer;
}

.select select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.select-display {
    cursor: pointer;
}

.dateinput {
    position: relative;
    cursor: pointer;
}

.dateinput input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    appearance: none;
}

.dateinput {
    cursor: pointer;
}

.date-temp {
    margin-bottom: 1rem;
    background-color: white;
    color: black;
    padding: 1rem;
}

/* ----------------  Input & Button --f--------------  */

.input,
.button {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
    cursor: pointer;
    resize: none;
}

.button {
    font-weight: bold;
}

.button.primary {
    background-color: black;
    border: 1px solid black;
    color: white;
}

.button.secondary {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.checkbox {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid #00C9A7;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.checkbox .checkbox-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    margin: 0;  /* remove default margins */
    z-index: 1;
    cursor: pointer;
}

.checkbox .checkmark {
    width: 85%;
    height: 85%;
    background-color: #00C9A7;
    border-radius: 100%;
    opacity: 0;
}

.checkbox .checkbox-input:checked ~ .checkmark {
    opacity: 1;
}

/* ----------------  Form Page ----------------  */

.form-page {
    padding: 1rem;
}

.form-page .h1 {
    font-size: 2rem;
}

.form-page .label {
   display: block;
   font-weight: bold;
   margin-bottom: 0.5rem;
}

.form-page .input {
    width: 100%;
    margin-bottom: 1rem;
}

.form-page .buttons {
    display: flex;
    justify-content: right;
}

.form-page .buttons button:last-child {
    margin-left: 0.25rem;
}

/* ----------------  Dash Header ----------------  */

.dash-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem 0.5rem;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top:0;
    z-index: 1;
}

.dash-header .select-user {
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid white;
    background-color: white;
    color: black;
    text-align: left;
}

.dash-header .select-user:focus {
    outline: none;
}

.dash-header .right {
    display: flex;
}

.dash-header .account {
    font-weight: bold;
}

.dash-header .logout {
    font-weight: bold;
    cursor: pointer;
}

/* ---------------- Dash List ---------------- */

.dash-list {
    padding-top: 54.5px;
    padding-bottom: 181.5px;
}

/* ---------------- Panel ---------------- */

.panel {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 0.75rem 1rem;
}

.panel .left {
    min-width: 2.5rem;
}

.panel .center {
    width: 100%;
}

.panel .title {
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
}

.panel .right {
    min-width: 2rem;
}

.panel .delete {
    margin: 0 0 0 1rem;
    opacity: 0.1;
    cursor: pointer;
    font-size: 1.75rem;
    line-height: 1.5rem;
}

.panel .info {
    cursor: pointer;
}

.panel .days-until {
    font-weight: bold;   
    font-size: 0.9rem; 
    margin-right: 0.5rem; 
}

.panel .domain {
    color: black;
    font-weight: bold;   
    margin-right: 0.9rem; 
    font-size: 0.9rem; 
}

.event .left {
    min-width: 4rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.domain .left {
   /* display: flex;
   align-items: center; */
}

.domain .color-circle {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0.25rem;
 }

/* ------------------- Dash Footer ------------------- */

.dash-footer {
    width: 100%;
    position: fixed;
    bottom:0;
    padding: 0 0.5rem 0 0.5rem;
    background-color: white;
}

.dash-footer .domain-selection {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.25rem 2rem;
    border: 1px solid #ccc;
    width: fit-content;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 0.25rem;
    text-align: center;
    cursor: pointer;
}

.dash-footer .text-input {
    display: flex;
    margin-bottom: 0.25rem;
}

.dash-footer .input-area {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.75rem 1rem;
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-right: 0.25rem;
}

.dash-footer .add-button {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.75rem 1rem;
    background-color: #00C9A7;
    color: white;
    font-weight: bold;
    border: 1px solid #00C9A7;
    border-radius: 0.5rem;
    cursor: pointer;
}

.dash-footer .main-selection {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-top: 1px solid #ccc;
}

.dash-footer .main-option {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
