.create-modal {
    border: 1px solid black;
    text-align: center;
    padding: 16px 0px;
}

.create-modal input,
.create-modal div {
    margin-bottom: 8px;
}

.create-modal.success {
    border: 1px solid green;
}